#flash_card_container
  -if previous = Vocab.find_subsequent(@vocab.id).first
    #left_card= link_to_remote "previous", :url=> vocab_url(previous), :method=>"get", :loading=> "$('#left_card a').addClass('hover')"
  -else
    #left_card
  -if subsequent = Vocab.find_previous(@vocab.id).last
    #right_card= link_to_remote "Next", :url=> vocab_url(subsequent), :method=>"get", :loading=> "$('#right_card a').addClass('hover')"
  -else
    #right_card
  #flash_card
    #thai= @vocab.thai
    #english= @vocab.english
    #pronunciation= "[#{@vocab.print_pronunciation}]"
  #index_button=link_to 'All Vocabs', vocabs_path
  #current_vocab_id=@vocab.id
- content_for :help do
  %ui
    %li [a]: previous vocab
    %li [s]: next vocab
    %li [n]: create new vocab
    %li [e]: edit current vocab
    %li [d]: show completed vocabs
%script{:type => "text/javascript"}
  :plain
    $(document).ready(function(){
    update_size();
    set_shortcuts("card");
    });